Source: ros-indigo-slime-ros
Section: misc
Priority: extra
Maintainer: Gayane Kazhoyan <kazhoyan@cs.uni-bremen.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-slime-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rosemacs, ros-indigo-roslisp, ros-indigo-slime-wrapper, sbcl
Description: Extensions for slime to assist in working with ROS packages
