Source: ros-indigo-slime-wrapper
Section: misc
Priority: extra
Maintainer: Gayane Kazhoyan <kazhoyan@cs.uni-bremen.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://common-lisp.net/project/slime
Standards-Version: 3.9.2

Package: ros-indigo-slime-wrapper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, emacs
Description: ROS wrapper for slime
